<a href="https://colab.research.google.com/github/misrori/scraping/blob/main/yahoo_finance_to_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task: Get the last two years olhc price data for the top 5 ticker for every sector

In [ ]:
!pip install scrapethat

Collecting scrapethat
  Downloading scrapethat-1.0.3-py3-none-any.whl (2.1 kB)
Collecting bs4 (from scrapethat)
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from scrapethat) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from scrapethat) (1.5.3)
Collecting cloudscraper (from scrapethat)
  Downloading cloudscraper-1.2.71-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.7/99.7 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4->scrapethat) (4.11.2)
Requirement already satisfied: pyparsing>=2.4.7 in /usr/local/lib/python3.10/dist-packages (from cloudscraper->scrapethat) (3.1.1)
Collecting requests-toolbelt>=0.9.1 (from cloudscraper->scrapethat)
  Downloading requests_toolbelt-1.0.0-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->scrapethat) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->scrapethat) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->scrapethat) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->scrapethat) (2023.7.22)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->scrapethat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->scrapethat) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->scrapethat) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->scrapethat) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4->scrapethat) (2.5)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=6da9b898e96310ee8de7e69faa31be396b7b706266d044fc30910be6f797a5b7
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: requests-toolbelt, bs4, cloudscraper, scrapethat
Successfully installed bs4-0.0.1 cloudscraper-1.2.71 requests-toolbelt-1.0.0 scrapethat-1.0.3

# https://cryptocointracker.com/yahoo-finance/yahoo-finance-api

### Getting Historical Prices from Yahoo Finance API #v8-finance-chart

In [82]:
from scrapethat import *
import requests
import json

In [83]:
import requests

data = '{"filter":[{"left":"type","operation":"in_range","right":["stock","dr","fund"]},{"left":"subtype","operation":"in_range","right":["common","foreign-issuer","","etf","etf,odd","etf,otc","etf,cfd"]},{"left":"exchange","operation":"in_range","right":["AMEX","NASDAQ","NYSE"]},{"left":"is_primary","operation":"equal","right":true},{"left":"active_symbol","operation":"equal","right":true}],"options":{"lang":"en"},"markets":["america"],"symbols":{"query":{"types":[]},"tickers":[]},"columns":["logoid","name","close","change","change_abs","Recommend.All","volume","Value.Traded","market_cap_basic","price_earnings_ttm","earnings_per_share_basic_ttm","number_of_employees","sector","description","type","subtype","update_mode","pricescale","minmov","fractional","minmove2","currency","fundamental_currency_code"],"sort":{"sortBy":"market_cap_basic","sortOrder":"desc"},"range":[0,10000]}'

response = requests.post('https://scanner.tradingview.com/america/scan', data=data)

In [84]:
t = response.json()
t.keys()

dict_keys(['totalCount', 'data'])

In [85]:
list(map(lambda x: x['d'], t['data']))
import pandas as pd
df = pd.DataFrame(list(map(lambda x: x['d'], t['data'])))
df.columns = json.loads(data)['columns']
df

,logoid,name,close,change,change_abs,Recommend.All,volume,Value.Traded,market_cap_basic,price_earnings_ttm,...,description,type,subtype,update_mode,pricescale,minmov,fractional,minmove2,currency,fundamental_currency_code
0,apple,AAPL,190.1850,-0.660747,-1.2650,0.263636,11590219,2.204286e+09,2.957900e+12,31.026804,...,Apple Inc.,stock,common,delayed_streaming_900,100,1,false,0,USD,USD
1,microsoft,MSFT,372.3300,-1.353858,-5.1100,0.354545,9342908,3.478645e+09,2.767254e+12,36.057176,...,Microsoft Corporation,stock,common,delayed_streaming_900,100,1,false,0,USD,USD
2,alphabet,GOOG,138.2800,0.261021,0.3600,0.400000,5960795,8.242587e+08,1.719342e+12,26.511244,...,Alphabet Inc.,stock,common,delayed_streaming_900,100,1,false,0,USD,USD
3,amazon,AMZN,142.0450,-2.795456,-4.0850,0.266667,27632264,3.925025e+09,1.467898e+12,74.167189,...,"Amazon.com, Inc.",stock,common,delayed_streaming_900,100,1,false,0,USD,USD
4,nvidia,NVDA,496.6999,-1.466028,-7.3901,0.263636,18273857,9.076623e+09,1.226849e+12,119.987414,...,NVIDIA Corporation,stock,common,delayed_streaming_900,100,1,false,0,USD,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7167,allianz,SIXO,28.2150,-0.105506,-0.0298,0.354545,316,8.915940e+03,NaN,NaN,...,AllianzIM U.S. Large Cap 6 Month Buffer10 Apr/...,fund,etf,delayed_streaming_900,100,1,false,0,USD,USD
7168,innovation-shares-nextgen,PJUN,32.4680,-0.224026,-0.0729,0.309091,3036,9.857285e+04,NaN,NaN,...,Innovator U.S. Equity Power Buffer ETF - June,fund,etf,delayed_streaming_900,100,1,false,0,USD,USD
7169,invesco,GRPM,90.4200,-0.333434,-0.3025,0.400000,360,3.255120e+04,NaN,NaN,...,Invesco S&P MidCap 400? GARP ETF,fund,etf,delayed_streaming_900,100,1,false,0,USD,USD
7170,ishares,CMBS,45.3142,0.186160,0.0842,0.266667,1843,8.351407e+04,NaN,NaN,...,iShares CMBS Bond ETF,fund,etf,delayed_streaming_900,100,1,false,0,USD,USD
7171,columbia-diversified-fixed,RECS,26.4153,-0.544804,-0.1447,0.309091,8394,2.217300e+05,NaN,NaN,...,Columbia Research Enhanced Core ETF,fund,etf,delayed_streaming_900,100,1,false,0,USD,USD

In [86]:
df.columns

Index(['logoid', 'name', 'close', 'change', 'change_abs', 'Recommend.All',
       'volume', 'Value.Traded', 'market_cap_basic', 'price_earnings_ttm',
       'earnings_per_share_basic_ttm', 'number_of_employees', 'sector',
       'description', 'type', 'subtype', 'update_mode', 'pricescale', 'minmov',
       'fractional', 'minmove2', 'currency', 'fundamental_currency_code'],
      dtype='object')

In [87]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from scrapethat import *

t = read_cloud('https://query1.finance.yahoo.com/v8/finance/chart/TSLA?range=5d&interval=1d')
t

{"chart":{"result":[{"meta":{"currency":"USD","symbol":"TSLA","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1277818200,"regularMarketTime":1700583066,"gmtoffset":-18000,"timezone":"EST","exchangeTimezoneName":"America/New_York","regularMarketPrice":241.47,"chartPreviousClose":237.41,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EST","start":1700557200,"end":1700577000,"gmtoffset":-18000},"regular":{"timezone":"EST","start":1700577000,"end":1700600400,"gmtoffset":-18000},"post":{"timezone":"EST","start":1700600400,"end":1700614800,"gmtoffset":-18000}},"dataGranularity":"1d","range":"5d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1700058600,1700145000,1700231400,1700490600,1700583066],"indicators":{"quote":[{"close":[242.83999633789062,233.58999633789062,234.3000030517578,235.60000610351562,241.47000122070312],"volume":[150354000,136816800,142532800,116320100,60684122],"high":[246.6999969482422,240.8800048828125,237.38999938964844,237.10000610351562,243.6199951171875],"low":[236.4499969482422,230.9600067138672,226.5399932861328,231.02000427246094,233.33999633789062],"open":[239.2899932861328,239.49000549316406,232.0,234.0399932861328,235.0399932861328]}],"adjclose":[{"adjclose":[242.83999633789062,233.58999633789062,234.3000030517578,235.60000610351562,241.47000122070312]}]}}],"error":null}}

In [88]:
import json

In [89]:
data = json.loads(t.text)
data.keys()

dict_keys(['chart'])

In [90]:
data.keys()

dict_keys(['chart'])

In [91]:
json.dumps(data)

'{"chart": {"result": [{"meta": {"currency": "USD", "symbol": "TSLA", "exchangeName": "NMS", "instrumentType": "EQUITY", "firstTradeDate": 1277818200, "regularMarketTime": 1700583066, "gmtoffset": -18000, "timezone": "EST", "exchangeTimezoneName": "America/New_York", "regularMarketPrice": 241.47, "chartPreviousClose": 237.41, "priceHint": 2, "currentTradingPeriod": {"pre": {"timezone": "EST", "start": 1700557200, "end": 1700577000, "gmtoffset": -18000}, "regular": {"timezone": "EST", "start": 1700577000, "end": 1700600400, "gmtoffset": -18000}, "post": {"timezone": "EST", "start": 1700600400, "end": 1700614800, "gmtoffset": -18000}}, "dataGranularity": "1d", "range": "5d", "validRanges": ["1d", "5d", "1mo", "3mo", "6mo", "1y", "2y", "5y", "10y", "ytd", "max"]}, "timestamp": [1700058600, 1700145000, 1700231400, 1700490600, 1700583066], "indicators": {"quote": [{"close": [242.83999633789062, 233.58999633789062, 234.3000030517578, 235.60000610351562, 241.47000122070312], "volume": [150354000, 136816800, 142532800, 116320100, 60684122], "high": [246.6999969482422, 240.8800048828125, 237.38999938964844, 237.10000610351562, 243.6199951171875], "low": [236.4499969482422, 230.9600067138672, 226.5399932861328, 231.02000427246094, 233.33999633789062], "open": [239.2899932861328, 239.49000549316406, 232.0, 234.0399932861328, 235.0399932861328]}], "adjclose": [{"adjclose": [242.83999633789062, 233.58999633789062, 234.3000030517578, 235.60000610351562, 241.47000122070312]}]}}], "error": null}}'

In [92]:
data['chart']['result'][0]['indicators']['quote'][0].keys()

dict_keys(['close', 'volume', 'high', 'low', 'open'])

In [106]:
df = pd.DataFrame(data['chart']['result'][0]['indicators']['quote'][0])
df

        close     volume        high         low        open
0  242.839996  150354000  246.699997  236.449997  239.289993
1  233.589996  136816800  240.880005  230.960007  239.490005
2  234.300003  142532800  237.389999  226.539993  232.000000
3  235.600006  116320100  237.100006  231.020004  234.039993
4  241.470001   60684122  243.619995  233.339996  235.039993

In [107]:
df['date'] = data['chart']['result'][0]['timestamp']

In [111]:
df['date'] = pd.to_datetime(df['date'], unit='s')
df['date'] = df['date'].dt.date
df

        close     volume        high         low        open        date
0  242.839996  150354000  246.699997  236.449997  239.289993  2023-11-15
1  233.589996  136816800  240.880005  230.960007  239.490005  2023-11-16
2  234.300003  142532800  237.389999  226.539993  232.000000  2023-11-17
3  235.600006  116320100  237.100006  231.020004  234.039993  2023-11-20
4  241.470001   60684122  243.619995  233.339996  235.039993  2023-11-21

In [ ]:
ticker = 'TSLA'
range='18y'
interval='1d'

scraper = cloudscraper.create_scraper()
response = scraper.get(f"https://query1.finance.yahoo.com/v8/finance/chart/{ticker}?interval={interval}&range={range}")
t= response.json()

df = pd.DataFrame(t['chart']['result'][0]['indicators']['quote'][0])
df['date'] = pd.to_datetime(t['chart']['result'][0]['timestamp'], unit='s').date
df = df[['date', 'open', 'low', 'high', 'close', 'volume']]

df

In [101]:

# Define the ticker symbol for Tesla
ticker_symbol = 'TSLA'

# Calculate start date as 100 days back from today
start_date = datetime.now() - timedelta(days=100)

# Fetch historical data from Yahoo Finance
historical_data = get_data(ticker_symbol, start_date=start_date.strftime('%m/%d/%Y'), index_as_date=False, interval='1d')

# Extract the 'Close' column
closing_prices = historical_data['close']

# Display the closing prices
print(closing_prices)

AttributeError: module 'datetime' has no attribute 'now'

In [114]:
def get_olhc(ticker, range='2y', interval='1d' ):
    try:
        scraper = cloudscraper.create_scraper()
        response = scraper.get(f"https://query1.finance.yahoo.com/v8/finance/chart/{ticker}?interval={interval}&range={range}")
        t= response.json()

        df = pd.DataFrame(t['chart']['result'][0]['indicators']['quote'][0])
        df['date'] = pd.to_datetime(t['chart']['result'][0]['timestamp'], unit='s').date
        df = df[['date', 'open', 'low', 'high', 'close', 'volume']]
        return (df)
    except:
        print('error')
        pass

In [115]:
get_olhc('TSLA')

           date        open         low        high       close     volume
0    2021-11-22  387.443329  377.476654  400.649994  385.623322   99217500
1    2021-11-23  389.170013  354.233337  393.500000  369.676666  108515100
2    2021-11-24  360.130005  354.000000  377.589996  372.000000   67680600
3    2021-11-26  366.489990  360.333344  369.593323  360.640015   35042700
4    2021-11-29  366.996674  366.730011  380.890015  378.996674   58393500
..          ...         ...         ...         ...         ...        ...
498  2023-11-15  239.289993  236.449997  246.699997  242.839996  150354000
499  2023-11-16  239.490005  230.960007  240.880005  233.589996  136816800
500  2023-11-17  232.000000  226.539993  237.389999  234.300003  142532800
501  2023-11-20  234.039993  231.020004  237.100006  235.600006  116320100
502  2023-11-21  235.039993  233.339996  243.619995  241.490005   64226495

[503 rows x 6 columns]

In [116]:
from tqdm import tqdm

list_of_dfs = list(map(get_olhc, tqdm(tickers)))

NameError: name 'tickers' is not defined

In [ ]:
import pandas as pd

In [ ]:

all_data

,date,open,low,high,close,volume,name
0,2021-11-18,206.500000,201.270004,207.869995,203.330002,18292200,V
1,2021-11-19,202.039993,199.850006,203.500000,200.860001,18032600,V
2,2021-11-22,200.000000,194.600006,201.699997,195.580002,21185800,V
3,2021-11-23,196.970001,194.380005,198.919998,198.490005,14742700,V
4,2021-11-24,198.169998,197.639999,203.949997,203.250000,12026800,V
...,...,...,...,...,...,...,...
49792,2023-11-13,77.290001,74.970001,77.589996,75.019997,4549900,AEP
49793,2023-11-14,76.750000,76.620003,77.989998,77.410004,3836900,AEP
49794,2023-11-15,77.279999,76.440002,78.440002,76.529999,3404700,AEP
49795,2023-11-16,77.480003,76.900002,78.080002,77.379997,4380100,AEP
49796,2023-11-17,77.720001,76.870003,77.910004,77.389999,3507100,AEP